GCP_PROJECT_ID="acampadasetas"
FIREBASE_PROJECT_ID="acampadasetas"
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
PUBLIC_FIREBASE_API_KEY=""
PUBLIC_FIREBASE_AUTH_DOMAIN="acampadasetas.firebaseapp.com"
